.Temp
.temp
Temp
temp
/Temp
/temp

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/

#VS Solution i inne pierdy
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.user
/*.userprefs
/*.pidb
/*.booproj

#Unity3d
sysinfo.txr
